<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.szu.user.dao.RoleDao">
    <select id="selectByPage" resultType="cn.edu.szu.user.entity.Role">
        SELECT * FROM role
    </select>
</mapper>